<div class="modal-header">
    <h4 class="modal-title text-center">Recover Wallet V2 Password</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="inputForm" novalidate>
        <div ng-if="!input.manually">
            <p class="margin-b">Contract support@btcm.group and input your Decryption Key manually.</p>
            <button class="btn btn-default" ng-click="input.manually = true">Input Decryption Key Manually</button>
        </div>

        <div class="well" ng-if="input.manually">
            <div class="form-group" ng-class="{'has-error':inputForm.encryptedRecoverySecretMnemonic.$invalid && !inputForm.encryptedRecoverySecretMnemonic.$pristine}">
                <label class="col-lg-3 control-label">Encrypted Recovery Secret</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="encryptedRecoverySecretMnemonic" ng-model="input.encryptedRecoverySecretMnemonic"></textarea>
                    <span class="help-block">Find this on page 1. e.g. fat arena brown skull echo quick damage ...</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':inputForm.recoverySecretDecryptionKey.$invalid && !inputForm.recoverySecretDecryptionKey.$pristine}">
                <label class="col-lg-3 control-label">Decryption Key</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="recoverySecretDecryptionKey" ng-model="input.recoverySecretDecryptionKey"></textarea>
                    <span class="help-block">Received from support@btcm.group</span>
                </div>
            </div>

            <div class="form-group">
                <div class="btn btn-md pull-right btn-primary" ng-click="useDecryptionKey(inputForm)">Decrypt your recovery secret</div>
            </div>
        </div>
        <!-- backup data input -->
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
