<section class="step-3">
    <div class="row text-center"  ng-if="!foundFunds" style="margin-top:60px;">
        <div class="col-xs-6 col-xs-offset-3">
            <h1 ng-if="!result.working">Discover Wallet Funds</h1>
            <h1 ng-if="result.working">Discovering ...</h1>
            <p>Lets scan for {{ CONFIG.NETWORK_LONG }} funds to recover from addresses in the wallet. Please note <b>this will take some time!</b></p>

            <button ng-if="!result.working" class="btn btn-lg btn-success margin-t" ng-class="{working: result.working}" ng-disabled="result.working" ng-hide="foundFunds" ng-click="discoverFunds()">Begin Discovery</button>
            <div class="alert alert-warning" ng-if="result.working">
                Discovering... <b>please wait...</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <div class="info">
                <div class="logs" ng-show="result.working">
                    <ul class="list-unstyled list-inline">
                        <li class="subdued">
                            <label>Addresses Generated:</label>
                            <span class="value">{{ result.progress.totalAddresses && result.progress.totalAddresses || 0 }}</span>
                        </li>
                        <li class="subdued">
                            <label>Unspent Outputs:</label>
                            <span class="value">{{ result.progress.totalUTXOs && result.progress.totalUTXOs || 0 }}</span>
                        </li>
                        <li class="subdued">
                            <label>Discovered Balance:</label>
                            <span class="value">{{ result.progress.totalBalance | toBtc }} {{ displayNetwork.value.toUpperCase() }}</span>
                        </li>
                    </ul>
                    <h4 class="text-center"><small>{{ result.progress.message }}...</small></h4>
                    <div class="subdued" ng-repeat="(address, value) in result.progress.addressUTXOs">
                        <small><b>{{ value.utxos.length }}</b> output(s) found in <b>{{ address }}</b></small>
                    </div>
                    <!--<small class="subdued">{{ logs[logs.length-1] }}</small>-->
                </div>

                <div class="results text-center" ng-show="foundFunds">
                    <h3 ng-class="{'text-success': foundFunds.balance, 'text-danger': !foundFunds.balance}">{{ !foundFunds.balance && "No " || ""}}Funds Found</h3>
                    <p>
                        A balance of <b ng-class="{'text-success': foundFunds.balance, 'text-danger': !foundFunds.balance}">{{ foundFunds.balance | toBtc }} {{ displayNetwork.value.toUpperCase() }}</b> was found after searching <b>{{ foundFunds.addressesSearched }}</b> addresses.
                    </p>

                    <div class="subdued" ng-repeat="(address, value) in foundFunds.utxos">
                        <small><b>{{ value.utxos.length }}</b> output(s) found in <b>{{ address }}</b></small>
                    </div>

                    <div ng-if="!foundFunds.balance">
                        <p>
                            <b>If you are certain you should have some {{ APPCONFIG.NETWORK_LONG }} in your wallet</b>,
                            you can retry with a bigger discovery window: <br />
                            <button class="btc btn-sm btn-primary" ng-click="discoverFundsAgain()">retry</button><br />
                        </p>
                        <p ng-if="firstAddress">
                            Or contact support@btc.com, the first address of your wallet is: {{ firstAddress }}, <br />
                            please provide this if you ever need to contact support about help using this tool.
                        </p>
                    </div>

                    <div ng-if="foundFunds.balance">
                        <p>
                            <b>If you are certain you should have more {{ APPCONFIG.NETWORK_LONG }}in your wallet</b>,
                            you can retry with a bigger discovery window: <br />
                            <button class="btc btn-sm btn-primary" ng-click="discoverFundsAgain()">retry</button><br />
                        </p>
                        <p ng-if="firstAddress">
                            Or contact support@btc.com, the first address of your wallet is: {{ firstAddress }}, <br />
                            please provide this if you ever need to contact support about help using this tool.
                        </p>
                    </div>

                    <div style="margin-top: 20px;">
                        <button class="btn btn-lg btn-success" ng-disabled="!foundFunds.balance" ng-click="nextStep('step_4')">Continue Recovery</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
