<section class="step-3">
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Discover Wallet Funds</h1>
            <p>Scan for funds to recover from addresses in the wallet.</p>

            <button class="btn btn-lg btn-success margin-t" ng-class="{working: result.working}" ng-disabled="result.working" ng-hide="foundFunds" ng-click="discoverFunds()">Begin Discovery</button>
        </div>
    </div>

    <div class="info">
        <div class="logs text-center" ng-show="result.working">
            <small class="subdued">{{ logs[logs.length-1] }}</small>
        </div>

        <div class="results text-center" ng-show="foundFunds">
            <h3 ng-class="{'text-success': foundFunds.balance, 'text-danger': !foundFunds.balance}">{{ !foundFunds.balance && "No " || ""}}Funds Found</h3>
            <p>
                A balance of <b ng-class="{'text-success': foundFunds.balance, 'text-danger': !foundFunds.balance}">{{ foundFunds.balance }}</b> Satoshi was found after searching <b>{{ foundFunds.addressesSearched }}</b> addresses.
            </p>
        </div>
    </div>
</section>

<footer>
    <button class="btn btn-sm btn-success pull-right" ng-disabled="!foundFunds.balance" ng-click="nextStep('step_4')">next</button>
    <button class="btn btn-sm btn-default pull-right" ng-disabled="result.working" ng-click="prevStep('step_2')">back</button>
</footer>