<section class="step-1">
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Enter Your Backup Data</h1>
            <p class="text-left">
                To begin your recovery, please enter the backup data from your backup PDF. You can find this on the backup document you saved when you first created your wallet.
                <br>
                If you have the .pdf file you can use the "import from backup" button.
            </p>
            <p class="text-left">
                <small class="subdued"><i><b>NB:</b>Users of the mobile app could have version 2 wallets, while users of the developers API have version 1 wallets. Make sure to check the correct version on your backup PDF.</i></small>
            </p>
        </div>
    </div>

    <div class="row margin-t">
        <div class="col-lg-8 col-lg-offset-2">
            <uib-tabset>
                <uib-tab select="activeWalletVersion.v2=true" active="activeWalletVersion.v2">
                    <uib-tab-heading>Wallet v2/v3</uib-tab-heading>
                    <form class="form-horizontal" name="forms.inputFormV2" novalidate>
                        <div class="well tabbed-well">
                            <fieldset>
                                <legend>Backup Data
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="importBackup()">Import from Backup</button>
                                </legend>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Wallet Version</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" required name="walletVersion"
                                                ng-model="backupDataV2.walletVersionSelect"
                                                ng-change="walletVersionSelected()">
                                            <option value="2">v2</option>
                                            <option value="3">v3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV2.encryptedPrimaryMnemonic.$invalid && !forms.inputFormV2.encryptedPrimaryMnemonic.$pristine}">
                                    <label class="col-lg-2 control-label">Encrypted Primary Seed</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" required name="encryptedPrimaryMnemonic" ng-model="backupDataV2.encryptedPrimaryMnemonic"></textarea>
                                        <span class="help-block">Find this on page 1. e.g. fat arena brown skull echo quiz diesel beach ...</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV2.backupMnemonic.$invalid && !forms.inputFormV2.backupMnemonic.$pristine}">
                                    <label class="col-lg-2 control-label">Backup Seed</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" required name="backupMnemonic" ng-model="backupDataV2.backupMnemonic"></textarea>
                                        <span class="help-block">Find this on page 1. e.g. disorder husband build smart also alley uncle ...</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV2.passwordEncryptedSecretMnemonic.$invalid && !forms.inputFormV2.passwordEncryptedSecretMnemonic.$pristine}">
                                    <label class="col-lg-2 control-label">Password Encrypted Secret</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" required name="passwordEncryptedSecretMnemonic" ng-model="backupDataV2.passwordEncryptedSecretMnemonic"></textarea>
                                        <span class="help-block">Find this on page 2. e.g. fat arena brown skull echo quick damage ...</span>
                                    </div>
                                </div>

                                <div ng-if="!backupDataV2.recoverySecretDecryptionKey">
                                    <div class="form-group" ng-class="{'has-error':forms.inputFormV2.password.$invalid && !forms.inputFormV2.password.$pristine}">
                                        <label class="col-lg-2 control-label">Wallet Password</label>
                                        <div class="col-lg-10">
                                            <input type="password" class="form-control" required name="password" ng-model="backupDataV2.password" placeholder="wallet password">
                                            <div class="help-block">This is the password you used when you created the wallet.
                                                <a href="#" ng-click="lostPassword()" class="pull-right">forgotten password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="backupDataV2.encryptedRecoverySecretMnemonic && backupDataV2.recoverySecretDecryptionKey">
                                    <hr>
                                    <div class="form-group" ng-class="{'has-error':forms.inputFormV2.encryptedRecoverySecretMnemonic.$invalid && !forms.inputFormV2.encryptedRecoverySecretMnemonic.$pristine}">
                                        <label class="col-lg-3 control-label">Encrypted Recovery Secret</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" rows="3" required disabled name="encryptedRecoverySecretMnemonic" ng-model="backupDataV2.encryptedRecoverySecretMnemonic"></textarea>
                                            <span class="help-block">Find this on page 1. e.g. fat arena brown skull echo quick damage ...</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':forms.inputFormV2.recoverySecretDecryptionKey.$invalid && !forms.inputFormV2.recoverySecretDecryptionKey.$pristine}">
                                        <label class="col-lg-3 control-label">Decryption Key</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" rows="3" required disabled name="recoverySecretDecryptionKey" ng-model="backupDataV2.recoverySecretDecryptionKey"></textarea>
                                            <div class="help-block">From the email you received<a href="#" ng-click="backupDataV2.recoverySecretDecryptionKey = null;" class="pull-right">switch back to password</a></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- backup data input -->
                        <div class="well">
                            <fieldset>
                                <legend>
                                    Blocktrail Public Keys
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="addPubKey(backupDataV2.blocktrailKeys)">+ Add Pubkey</button>
                                </legend>

                                <div class="pubkey-group" ng-repeat="btPubkey in backupDataV2.blocktrailKeys" ng-controller="innerFormCtrl" ng-form="innerForm">
                                    <div class="form-group" ng-class="{'has-error':innerForm.btPubkey.$invalid && !innerForm.btPubkey.$pristine}">
                                        <label class="col-lg-2 control-label">Blocktrail Pubkey</label>
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-required="$index == 0" name="btPubkey" ng-model="btPubkey.pubkey">
                                                <span class="input-group-btn">
                                                    <a href class="btn btn-default" type="button" ng-click="scanPubKeyQR(btPubkey)">Scan QR</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':innerForm.btPubkeyIndex.$invalid && !innerForm.btPubkeyIndex.$pristine}">
                                        <label class="col-lg-2 control-label">Key Index</label>
                                        <div class="col-lg-10">
                                            <input type="number" step="1" min="0" class="form-control" ng-required="$index == 0 || btPubkey.pubkey" name="btPubkeyIndex" ng-model="btPubkey.keyIndex" placeholder="public key index">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- blocktrail keys input -->
                    </form>
                </uib-tab>
                <!-- /wallets v1 -->

                <uib-tab select="activeWalletVersion.v1=true" active="activeWalletVersion.v1">
                    <uib-tab-heading>Wallet v1 (developers)</uib-tab-heading>
                    <form class="form-horizontal" name="forms.inputFormV1" novalidate>
                        <div class="well tabbed-well">
                            <fieldset>
                                <legend>Backup Data
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="importBackup()">Import from Backup</button>
                                </legend>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV1.primaryMnemonic.$invalid && !forms.inputFormV1.primaryMnemonic.$pristine}">
                                    <label class="col-lg-2 control-label">Primary Mnemonic</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" required name="primaryMnemonic" ng-model="backupDataV1.primaryMnemonic"></textarea>
                                        <span class="help-block">e.g. plug employ detail flee ethics junior cover ...</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV1.backupMnemonic.$invalid && !forms.inputFormV1.backupMnemonic.$pristine}">
                                    <label class="col-lg-2 control-label">Backup Mnemonic</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" required name="backupMnemonic" ng-model="backupDataV1.backupMnemonic"></textarea>
                                        <span class="help-block">e.g. disorder husband build smart also alley uncle ...</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':forms.inputFormV1.passphrase.$invalid && !forms.inputFormV1.passphrase.$pristine}">
                                    <label class="col-lg-2 control-label">Wallet Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" required name="passphrase" ng-model="backupDataV1.primaryPassphrase" placeholder="wallet password">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- backup data input -->
                        <div class="well">
                            <fieldset>
                                <legend>
                                    Blocktrail Public Keys
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="addPubKey(backupDataV1.blocktrailKeys)">+ Add Pubkey</button>
                                </legend>

                                <div class="pubkey-group" ng-repeat="btPubkey in backupDataV1.blocktrailKeys" ng-controller="innerFormCtrl" ng-form="innerForm">
                                    <div class="form-group" ng-class="{'has-error':innerForm.btPubkey.$invalid && !innerForm.btPubkey.$pristine}">
                                        <label class="col-lg-2 control-label">Blocktrail Pubkey</label>
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-required="$index == 0" name="btPubkey" ng-model="btPubkey.pubkey">
                                                <span class="input-group-btn">
                                                    <a href class="btn btn-default" type="button" ng-click="scanPubKeyQR(btPubkey)">Scan QR</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':innerForm.btPubkeyIndex.$invalid && !innerForm.btPubkeyIndex.$pristine}">
                                        <label class="col-lg-2 control-label">Key Index</label>
                                        <div class="col-lg-10">
                                            <input type="number" step="1" min="0" class="form-control" ng-required="$index == 0 || btPubkey.pubkey" name="btPubkeyIndex" ng-model="btPubkey.keyIndex" placeholder="public key index">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- blocktrail keys input -->
                    </form>
                </uib-tab>
                <!-- /wallets v1 -->
            </uib-tabset>
        </div>
    </div>
</section>

<footer>
    <button class="btn btn-sm btn-success pull-right" ng-if="activeWalletVersion.v2" ng-click="nextStep('step_2', forms.inputFormV2)">next</button>
    <button class="btn btn-sm btn-success pull-right" ng-if="activeWalletVersion.v1" ng-click="nextStep('step_2', forms.inputFormV1)">next</button>
    <button class="btn btn-sm btn-default pull-right" ng-click="goHome(true)">cancel</button>
</footer>
