<section class="finish">
    <div class="text-center">
        <h1>Recovery Complete</h1>
        <p>Below is a Raw Transaction that will send the found funds to your recovery address.</p>
    </div>

    <div class="info margin-t padding-t">
        <div class="results text-center">
            <pre class="text-left">
{{ signedTransaction }}
            </pre>
            <p class="text-center" ng-hide="false">
                <!--<button class="btn btn-md btn-default" ng-click="copyToClipboard(signedTransaction)">Copy Transaction</button>-->
                <button class="btn btn-md btn-success" ng-click="sendTx('blocktrail', {hex: signedTransaction})">Send via Blocktrail</button>
                <button class="btn btn-md btn-success" ng-click="sendTx('insight', {hex: signedTransaction})">Send via Insight</button>
            </p>
        </div>
    </div>
</section>

<footer>
    <button class="btn btn-sm btn-success pull-right" ng-click="goHome(true)">done</button>
    <button class="btn btn-sm btn-default pull-right" ng-click="prevStep('step_4')">back</button>
</footer>
