<div class="modal-header">
    <h4 class="modal-title text-center">Recover Wallet V2 Password</h4>
</div>
<div class="modal-body">
    <p class="margin-b">It is possible to use the Encrypted Recovery Secret with a decryption key instead of your password.</p>

    <form class="form-horizontal" name="inputForm" ng-if="!input.manually" novalidate>
        <p class="margin-b">Retrieve the decryption key with your email address.</p>
        <div class="well" ng-if="!result.emailSent">
            <div class="form-group" ng-class="{'has-error':inputForm.email.$invalid && !inputForm.email.$pristine}">
                <label class="col-lg-3 control-label">Account Email</label>
                <div class="col-lg-9">
                    <input class="form-control" type="email" required name="email" ng-model="input.email" />
                    <span class="help-block">The email address you used when you signed up</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':inputForm.walletIdentifier.$invalid && !inputForm.walletIdentifier.$pristine}">
                <label class="col-lg-3 control-label">Wallet Identifier</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" required name="walletIdentifier" ng-model="input.walletIdentifier" />
                    <span class="help-block">The wallet identifier (find this on page 1 of the backup)<br><small>If not displayed on backup, use "blocktrail-wallet" instead</small></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    <div class="btn btn-md pull-right" ng-class="{'btn-success': inputForm.$valid, 'btn-primary': inputForm.$invalid }" ng-click="requestSecret(inputForm)">Request Decryption Key</div>
                </div>
            </div>
        </div>


        <div class="text-center">
            <div class="btn btn-lg btn-success" ng-if="result.emailSent && !result.emailReceived" ng-click="result.emailReceived = true; result.message = ''">I got the email</div>
        </div>

        <div class="well" ng-if="result.emailReceived">
            <div class="form-group" ng-class="{'has-error':inputForm.encryptedRecoverySecretMnemonic.$invalid && !inputForm.encryptedRecoverySecretMnemonic.$pristine}">
                <label class="col-lg-3 control-label">Encrypted Recovery Secret</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="encryptedRecoverySecretMnemonic" ng-model="input.encryptedRecoverySecretMnemonic"></textarea>
                    <span class="help-block">Find this on page 1. e.g. fat arena brown skull echo quick damage ...</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':inputForm.recoverySecretDecryptionKey.$invalid && !inputForm.recoverySecretDecryptionKey.$pristine}">
                <label class="col-lg-3 control-label">Decryption Key</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="recoverySecretDecryptionKey" ng-model="input.recoverySecretDecryptionKey"></textarea>
                    <span class="help-block">From the email you just received</span>
                </div>
            </div>

            <div class="form-group">
                <div class="btn btn-md pull-right btn-primary" ng-click="useDecryptionKey(inputForm)">Decrypt your recovery secret</div>
            </div>
        </div>
        <!-- backup data input -->
    </form>
    <div class="row margin-t">
        <div class="col-md-8 col-lg-10 col-md-offset-2 col-lg-offset-1">
            <div class="logs text-left padding-t padding-b">
                <hr>
                <h4 class="text-center">{{ result.message }}</h4>
                <div class="subdued text-ellipsis" ng-repeat="(key, value) in result.data">
                    <small><b>{{ key }}: </b> {{ value }}</small>
                </div>
            </div>
            <div class="text-center" ng-show="result.success">
                <hr>
                <div class="btn btn-lg btn-success" ng-click="ok(result.data)">Use this backup</div>
            </div>
        </div>
    </div>


    <form class="form-horizontal" name="inputForm" novalidate>
        <div ng-if="!input.manually">
            <p class="margin-b">Or if you didn't register your wallet with an email address contract support@blocktrail.com and you can input your Decryption Key manually.</p>
            <button class="btn btn-default" ng-click="input.manually = true">Input Decryption Key Manually</button>
        </div>

        <div class="well" ng-if="input.manually">
            <div class="form-group" ng-class="{'has-error':inputForm.encryptedRecoverySecretMnemonic.$invalid && !inputForm.encryptedRecoverySecretMnemonic.$pristine}">
                <label class="col-lg-3 control-label">Encrypted Recovery Secret</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="encryptedRecoverySecretMnemonic" ng-model="input.encryptedRecoverySecretMnemonic"></textarea>
                    <span class="help-block">Find this on page 1. e.g. fat arena brown skull echo quick damage ...</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':inputForm.recoverySecretDecryptionKey.$invalid && !inputForm.recoverySecretDecryptionKey.$pristine}">
                <label class="col-lg-3 control-label">Decryption Key</label>
                <div class="col-lg-9">
                    <textarea class="form-control" rows="3" required name="recoverySecretDecryptionKey" ng-model="input.recoverySecretDecryptionKey"></textarea>
                    <span class="help-block">Received from support@blocktrail.com</span>
                </div>
            </div>

            <div class="form-group">
                <div class="btn btn-md pull-right btn-primary" ng-click="useDecryptionKey(inputForm)">Decrypt your recovery secret</div>
            </div>
        </div>
        <!-- backup data input -->
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
