<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
</div>
<div class="modal-body text-center">
    <h2>{{ title }}</h2>
    <h4>{{ subtitle }}</h4>
    <p>{{ message }}</p>

    <div class="margin-t padding-t">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="ok()">Yes</button>
    </div>
</div>
<div class="modal-footer">
    <!--
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">Yes</button>
    -->
</div>