<section class="step-4">
    <div class="text-center" style="margin-top:40px;">
        <h1>Recover Wallet Funds</h1>
        <p>Recover the <b>{{ foundFunds.balance | toBtc }} {{ displayNetwork.value.toUpperCase() }}</b> from this wallet to your address.</p>
    </div>

    <form name="inputForm" class="text-left margin-t" novalidate>
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-lg-4 col-xs-offset-2 col-sm-offset-3 col-lg-offset-4">
                <div class="form-group" ng-class="{'has-error':inputForm.address.$invalid && !inputForm.address.$pristine}">
                    <label class="control-label">Your {{ recoveryNetwork.name }} Address</label>
                    <input type="text" class="form-control" required name="address" ng-model="recoverySettings.destinationAddress" placeholder="recovery address">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 margin-t text-center">
                <button class="btn btn-lg btn-success" ng-class="{working: result.working}" ng-disabled="result.working"
                        ng-click="recoverFunds(recoverySettings.destinationAddress, inputForm)">Continue Recovery</button>
            </div>
        </div>
    </form>

    <div class="info">
        <div class="logs text-center" ng-show="result.working">
            <h4 class="text-center"><small>{{ result.progress.message }}...</small></h4>
            <!--<small class="subdued">{{ logs[logs.length-1] }}</small>-->
        </div>

        <div class="results text-center" ng-show="!signedTransaction && result.complete">
            <h3 class="text-danger">Recovery Failed</h3>
            <p>
                Your transaction could not be created.<br/>
                {{ result.errors[0] }}
            </p>
        </div>
    </div>
</section>
