<!DOCTYPE html>
<html ng-app="wallet-recovery">
<head>
    <title id="recovery-title">BTC.com - Wallet Recovery Tool</title>

    <link rel="stylesheet" href="css/main.css?v=<%= VERSION %>">

    <script src="js/sdk.js?v=<%= VERSION %>"></script>
    <script src="js/libs.js?v=<%= VERSION %>"></script>
    <script src="js/app.js?v=<%= VERSION %>"></script>
    <script>
        window.APPCONFIG = <%= APPCONFIG_JSON %>;

        if (window.APPCONFIG.NETWORK_LONG) {
            $('#recovery-title').text("BTC.com - " + window.APPCONFIG.NETWORK_LONG + " Recovery Tool");
        }
    </script>
</head>
<body ng-controller="walletRecoveryCtrl" ng-class="{working: result.working}">
    <div class="container mainview" ng-include="mainTemplate"></div>
    <script>
        // print warning for Self-XSS
        var consoleWarning = function() {
            if (window.console || "console" in window) {
                console.log("%c WARNING!!!", "color: red; font-size: 50px;");
                console.log("%c This browser feature is for developers only. Please do not copy-paste any code or run any scripts here." , "color: orange; font-size: 16px;");
                console.log("%c If somebody is asking you to copy-paste any code here you're most likely being targeted by a malicious attacker!" , "color: orange; font-size: 16px;");
                console.log("%c For more information, see: http://en.wikipedia.org/wiki/Self-XSS", "color: orange; font-size: 16px;");
            }
        };

        // repeat warning every 60s, incase other things are logging to console in the meantime
        setInterval(consoleWarning, 60000);
        // print first warning after 1s, just to let any initial console logging happen from other things
        setTimeout(consoleWarning, 1000);
    </script>

    <% if (APPCONFIG.GA_TRACKING_ID) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66176065-31"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '<%= APPCONFIG.GA_TRACKING_ID %>');
        </script>
    <% } %>
</body>
</html>
